<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="dashboard/assets/img/logo.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<title>Welcome User</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="dashboard/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="dashboard/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="dashboard/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="dashboard/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="dashboard/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <style>
        .dash1{
            color:white;
            margin-left: 12%;
        }
    </style>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="dashboard/assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Udghosh'19
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-user"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li >
                    <form class="dash1" action="/a3d96738d3a6c3c6b1f9571b680ba99c" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                        
                        <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                    
                            <i class="pe-7s-graph"></i>
                            <p>Home</p>
                        </a>
                    </form>
                </li>
                <li >
                        <form class="dash1" action="/1378950eae52994823daf87092150d84" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-note2"></i>
                                <p>NOSSQ</p>
                            </a>
                        </form>
                </li>
                <li >
                        <form class="dash1" action="/278c4289711e58413eb96c52f4256385" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-news-paper"></i>
                                <p>UDGHOSH CHAMPS</p>
                            </a>
                        </form>
                </li>
                <li >
                        <form class="dash1" action="/events1" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-angle-down-circle"></i>
                                <p>SPORTS EVENTS</p>
                            </a>
                        </form>
                </li>
                <li >
                        <form class="dash1" action="/e9d0861b5a2cfbd95c2da252aecc7941" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-bell"></i>
                                <p>SOCIAL INITIATIVES</p>
                            </a>
                        </form>
                </li>
                <li >
                        <form class="dash1" action="/b0615d8ce8ea8d73e33c48103cca252b" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-study"></i>
                                <p>CAMPUS AMBASSADORS</p>
                            </a>
                        </form>
                </li>
                <li >
                        <form class="dash1" action="/18c2d8d0e3d6293a44828dc223d66a72" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-camera"></i>
                                <p>UDGHOSH SNAPSHOT</p>
                            </a>
                        </form>
                </li>
                <li >
                        <form class="dash1" action="/067488b6cb869ee496849a0dc02fd4a7" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-wine"></i>
                                <p>UDGHOSH BROADCAST</p>
                            </a>
                        </form>
                </li>
                <li >
                        <form class="dash1" action="/f0ab7b2ad394d1b39df81b81c759417e" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-science"></i>
                                <p>TEAM</p>
                            </a>
                        </form>
                </li>
                <li class="active-pro">
                        <form class="dash1" action="/e558b2c957c59a6c9999d7f54947176e" method="POST">
                            <input type="hidden" name="rdx" value="<%= wdv %>">
                            <a   style ="color:white;" href="#" onclick="this.parentNode.submit()">
                        
                                <i class="pe-7s-rocket"></i>
                                <p>Logout</p>
                            </a>
                        </form>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active-pro">
                            <form class="dash1" action="/e558b2c957c59a6c9999d7f54947176e" method="POST">
                                <input type="hidden" name="rdx" value="<%= wdv %>">
                                <a href="#" onclick="this.parentNode.submit()">
                                    <p style="margin-top: 20px; color: black;">Logout</p>
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    


                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Registration Details</h4>
                                <p class="category">Please update them as per your needs</p>
                            </div>
                            <div class="content">

                                <table class="table">
                                    <tr style="background: #F4F6F6;">
                                        <th>
                                            Contengency Leader Name
                                        </th>
                                        <td>
                                            <%= c_l_n %>
                                        </td>
                                        <th>
                                            Head Coach
                                        </th>
                                        <td>
                                            <%= h_c %>
                                        </td>
                                    </tr>
                                    <tr style="background: white;">
                                        <th>
                                            College (Full name)
                                        </th>
                                        <td>
                                            <%= c_f_n %>
                                        </td>

                                        <th>
                                            E-mail Id
                                        </th>
                                        <td>
                                            <%= e_m_i %>
                                        </td>
                                    </tr>
                                    <tr style="background: #F4F6F6;">
                                        <th>
                                            Primary Contact Number
                                        </th>
                                        <td>
                                            <%= p_c_n %>
                                        </td>
                                        <th>
                                            Alter Contact Number
                                        </th>
                                        <td>
                                            <%= a_c_n %>
                                        </td>
                                    </tr>
                                    <tr style="background: white;">
                                        <th>
                                            City (State)
                                        </th>
                                        <td>
                                            <%= c_s %>
                                        </td>

                                        <th>
                                            PIN Code
                                        </th>
                                        <td>
                                            <%= p_c %>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <button class="btn btn-primary" style="margin-bottom: 5px;margin-left: 15px;" data-toggle="modal" data-target="#registration_details">Edit Registration Details</button>
                                </div>
                                <hr>
                            </div>

                            <div class="header">
                                <h4 class="title">Events Details</h4>
                                <p class="category">Edit them under the Edit Section</p>
                            </div>

                            <div class="content">

                                <table class="table">
                                    <tr style="background: #F4F6F6;">
                                        <th>
                                            Athletics (M&W)
                                        </th>
                                        <td>
                                            <%= at %>
                                        </td>
                                        <th>
                                            Badminton (M&W)
                                        </th>
                                        <td>
                                            <%= ba %>
                                        </td>
                                    </tr>
                                    <tr style="background: white;">
                                        <th>
                                            Basketball (M&W)
                                        </th>
                                        <td>
                                            <%= bb %>
                                        </td>

                                        <th>
                                            Football (M&W)
                                        </th>
                                        <td>
                                            <%= fb %>
                                        </td>
                                    </tr>
                                    <tr style="background: #F4F6F6;">
                                        <th>
                                            Hockey (M&W)
                                        </th>
                                        <td>
                                            <%= hk %>
                                        </td>
                                        <th>
                                            Kho-Kho (M&W)
                                        </th>
                                        <td>
                                            <%= kk %>
                                        </td>
                                    </tr>
                                    <tr style="background: white;">
                                        <th>
                                            Lawn Tennis (M&W)
                                        </th>
                                        <td>
                                            <%= lt %>
                                        </td>

                                        <th>
                                            Squash
                                        </th>
                                        <td>
                                            <%= sq %>
                                        </td>
                                    </tr>
                                    <tr style="background: #F4F6F6;">
                                        <th>
                                            Table-Tennis (M&W)
                                        </th>
                                        <td>
                                            <%= tt %>
                                        </td>
                                        <th>
                                            VolleyBall (M&W)
                                        </th>
                                        <td>
                                            <%= vb %>
                                        </td>
                                    </tr>
                                    <tr style="background: white;">
                                        <th>
                                            Chess (Mixed)
                                        </th>
                                        <td>
                                            <%= cs %>
                                        </td>

                                        <th>
                                            Skating (Mixed)
                                        </th>
                                        <td>
                                            <%= sk %>
                                        </td>
                                    </tr>
                                    <tr style="background: #F4F6F6;">
                                        <th>
                                            Cricket (M)
                                        </th>
                                        <td>
                                            <%= ck %>
                                        </td>
                                        <th>
                                            Handball (M)
                                        </th>
                                        <td>
                                            <%= hb %>
                                        </td>
                                    </tr>
                                    <tr style="background: white;">
                                        <th>
                                            Mr. Udghosh (M)
                                        </th>
                                        <td>
                                            Contact Udghosh Team
                                        </td>

                                        <th>
                                            Weightlifting (M)
                                        </th>
                                        <td>
                                            <%= wl %>
                                        </td>
                                    </tr>
                                    <tr style="background: #F4F6F6;">
                                        <th>
                                            Powerlifting (M)
                                        </th>
                                        <td>
                                            <%= pl %>
                                        </td>
                                        <th>
                                            Sports Quiz (Mixed)
                                        </th>
                                        <td>
                                            Visit our NOSSQ Portal
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <button class="btn btn-primary" style="margin-bottom: 5px;margin-left: 15px;" data-toggle="modal" data-target="#events_details">Edit Event Details</button>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/udghosh.iitk/">
                                <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 2em;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/udghosh_iitk/">
                                <i class="fa fa-instagram" aria-hidden="true" style="font-size: 2em;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/udghoshiitk?lang=en">
                                <i class="fa fa-twitter" aria-hidden="true" style="font-size: 2em;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/udghosh11">
                                <i class="fa fa-youtube" aria-hidden="true" style="font-size: 2em;"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; Udghosh'19
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="dashboard/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="dashboard/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="dashboard/assets/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="dashboard/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="dashboard/assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="dashboard/assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="dashboard/assets/js/demo.js"></script>

	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "<center><b>Welcome to Udghosh Dashboard.</b></center>"

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>

</html>

<div id="events_details" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Events Participation Details</h4>
      </div>
      <div class="modal-body">
        <form action="/b073f1087455e888a841bc3e3eb5eb6cec" method="POST">
            <center><p>Enter your Credentials for any Edits</p></center>
            <input type="text" name="name" placeholder="Username" required minlength="8" style="float: left;width: 90%;margin-left: 5%;margin-bottom: 1%;">
            <table class="table">
                <tr style="background: #F4F6F6;">
                    <th>
                        Events
                    </th>
                    <th>
                        Present Status
                    </th>
                    <th>
                        New Status
                    </th>
                    <th>
                        Events
                    </th>
                    <th>
                        Present Status
                    </th>
                    <th>
                        New Status
                    </th>
                </tr>
                <tr>
                    <td>
                        Atheletics
                    </td>
                    <td>
                        <center><%=at%></center>
                    </td>
                    <td>
                        <input type="number" name="atheletics">
                    </td>
                    <td>
                        Badminton
                    </td>
                    <td>
                        <center><%= ba %></center>
                    </td>
                    <td>
                        <input type="number" name="badminton">
                    </td>
                </tr>
                <tr>
                    <td>
                        Basketball
                    </td>
                    <td>
                        <center><%= bb%></center>
                    </td>
                    <td>
                        <input type="number" name="basketball">
                    </td>
                    <td>
                        Chess
                    </td>
                    <td>
                        <center><%= cs%></center>
                    </td>
                    <td>
                        <input type="number" name="chess">
                    </td>
                </tr>
                <tr>
                    <td>
                        Cricket
                    </td>
                    <td>
                        <center><%= ck%></center>
                    </td>
                    <td>
                        <input type="number" name="cricket">
                    </td>
                    <td>
                        Volleyball
                    </td>
                    <td>
                        <center><%= vb%></center>
                    </td>
                    <td>
                        <input type="number" name="volleyball">
                    </td>
                </tr>
                <tr>
                    <td>
                        Football
                    </td>
                    <td>
                        <center><%= fb%></center>
                    </td>
                    <td>
                        <input type="number" name="football">
                    </td>
                    <td>
                        Kho-Kho
                    </td>
                    <td>
                        <center><%= kk%></center>
                    </td>
                    <td>
                        <input type="number" name="kho">
                    </td>
                </tr>
                <tr>
                    <td>
                        Lawn Tennis
                    </td>
                    <td>
                        <center><%= lt%></center>
                    </td>
                    <td>
                        <input type="number" name="lawn">
                    </td>
                    <td>
                        Squash
                    </td>
                    <td>
                        <center><%= sq%></center>
                    </td>
                    <td>
                        <input type="number" name="squash">
                    </td>
                </tr>
                <tr>
                    <td>
                        Table Tennis
                    </td>
                    <td>
                        <center><%= tt%></center>
                    </td>
                    <td>
                        <input type="number" name="tt">
                    </td>
                    <td>
                        HandBall
                    </td>
                    <td>
                        <center><%= hb%></center>
                    </td>
                    <td>
                        <input type="number" name="handball">
                    </td>
                </tr>
                <tr>
                    <td>
                        Hockey
                    </td>
                    <td>
                        <center><%= hk%></center>
                    </td>
                    <td>
                        <input type="number" name="hockey">
                    </td>
                    <td>
                        Weightlifting
                    </td>
                    <td>
                        <center><%= wl%></center>
                    </td>
                    <td>
                        <input type="number" name="weightlifting">
                    </td>
                </tr>
                <tr>
                    <td>
                        Powerlifting
                    </td>
                    <td>
                        <center><%= pl %></center>
                    </td>
                    <td>
                        <input type="number" name="powerlifting">
                    </td>
                    <td>
                        Skating
                    </td>
                    <td>
                        <center><%= sk %></center>
                    </td>
                    <td>
                        <input type="number" name="skating">
                    </td>
                </tr>
                <tr>
                    <td>
                        Mr. Udghosh
                    </td>
                    <td>
                        <center>Contact Udghosh Team</center>
                    </td>
                    <td>
                        Sports Quiz
                    </td>
                    <td>
                        <center>NOSSQ Portal</center>
                    </td>
                    <td>
                        <center>NOSSQ Portal</center>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  </div>
</div>

<p style="display: none;" id="uid">hello</p>

<style type="text/css">
    input{
        border: none;
        background: #85C1E9;
        border-radius: 5px;
        color: white;
        padding: 10px;
    }
</style>

<div id="registration_details" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registration Details</h4>
      </div>
      <div class="modal-body">
        <form action="/d23df4d956a710e48bbd0290d09728abrc" method="POST">
            <center><p>Enter your Credentials for any Edits</p></center>
            <input type="text" name="name" placeholder="Username" required minlength="8" style="float: left;width: 90%;margin-left: 5%;margin-bottom: 1%;">
            <table class="table">
                <tr style="background: #F4F6F6;">
                    <th>
                        Fields
                    </th>
                    <th>
                        Present Status
                    </th>
                    <th>
                        New Status
                    </th>
                </tr>
                <tr>
                    <td>
                        Contengency Leader Name
                    </td>
                    <td>
                        <%= c_l_n %>
                    </td>
                    <td>
                        <input type="text" name="c_l_n">
                    </td>
                </tr>
                <tr>
                    <td>
                        Head Coach
                    </td>
                    <td>
                        <%= h_c  %>
                    </td>
                    <td>
                        <input type="text" name="h_c">
                    </td>
                </tr>
                <tr>
                    <td>
                        College (Full Name)
                    </td>
                    <td>
                        <%= c_f_n  %>
                    </td>
                    <td>
                        <input type="text" name="c_f_n">
                    </td>
                </tr>
                <tr>
                    <td>
                        E-mail Id
                    </td>
                    <td>
                        <%= e_m_i  %>
                    </td>
                    <td>
                        <center>Unchangable</center>
                    </td>
                </tr>
                <tr>
                    <td>
                        Primary Contact Number
                    </td>
                    <td>
                        <%= p_c_n  %>
                    </td>
                    <td>
                        <input type="tel" name="p_c_n" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890">
                    </td>
                </tr>
                <tr>
                    <td>
                        Alter Contact Number
                    </td>
                    <td>
                        <%= a_c_n  %>
                    </td>
                    <td>
                        <input type="tel" name="a_c_n" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890">
                    </td>
                </tr>
                <tr>
                    <td>
                        City (State)
                    </td>
                    <td>
                        <%= c_s  %>
                    </td>
                    <td>
                        <input type="text" name="c_s">
                    </td>
                </tr>
                <tr>
                    <td>
                        PIN Code
                    </td>
                    <td>
                        <%= p_c  %>
                    </td>
                    <td>
                        <input type="number" name="p_c">
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  </div>
</div>
